// /* ********************************** font-color ********************************** */
// $a-color: #226f38;
// $b-color: #79b942;
// $c-color: #9bc171;
// $d-color: #dc8024;
// $white-color: #FFF;
// $black-color: #000;
// $gray-color: #AAA;
// $lightgray-color: #CCC;

// /* ********************************** font-color ********************************** */
// $fa-color: #226f38;
// $fb-color: #79b942;
// $fc-color: #9bc171;
// $fd-color: #dc8024;
// $fwhite-color: #FFF;
// $fblack-color: #000;
// $fgray-color: #AAA;
// $flightgray-color: #CCC;

// /* ********************************** font-size ********************************** */
// $f14: 14px;
// $f16: 16px;
// $f18: 18px;
// $f20: 20px;
// $f22: 22px;
// $f24: 24px;
// $f26: 26px;
// $f30: 30px;
// $f32: 32px;
// $f40: 40px;
// $f50: 50px;
// $f60: 60px;
// $f80: 80px;

//bg
$a-color: #FFF;
$b-color: #FFF;
$white-color: #FFF;
$black-color: #000;
$grey-color: #ddd;

//font
$fa-color: #FFF;
$fb-color: #FFF;
$fdarkgrey-color: #5d6d86;
$fwhite-color: #FFF;
$fblack-color: #000;

$boxshadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
$border: 1px solid #000;